<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>
    {% if page.title %}
      {{ page.title }} · {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <meta name="description"
        content="{{ page.description | default: site.description }}"/>

  <link rel="stylesheet" href="/assets/css/main.css"/>

  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Ashutosh Trivedi",
  "url": "https://ashutoshtrivedi.com",
  "image": "https://commons.wikimedia.org/wiki/File:Ashutosh_Trivedi_Portrait.jpg",
  "jobTitle": "Associate Professor of Computer Science",
  "affiliation": {
    "@type": "EducationalOrganization",
    "name": "University of Colorado Boulder",
    "url": "https://www.colorado.edu"
  },
  "alumniOf": [
    {
      "@type": "CollegeOrUniversity",
      "name": "University of Warwick"
    }
  ],
  "knowsAbout": [
    "Formal Methods",
    "Reinforcement Learning",
    "Trustworthy AI",
    "Cyber-Physical Systems",
    "Automata Theory"
  ],
  "sameAs": [
    "https://www.linkedin.com/in/astrivedi/",
    "https://www.wikidata.org/wiki/Q102112267",
    "https://scholar.google.com/citations?user=9WDXyy4AAAAJ",
    "https://orcid.org/0000-0001-9346-0126",
    "https://dblp.org/pid/06/5756.html",
    "https://twitter.com/astrivedi",
    "https://experts.colorado.edu/display/fisid_156589"
  ],
  "subjectOf": [
    {
      "@type": "NewsArticle",
      "name": "Research on AI explainability in Sudoku",
      "url": "https://www.cnet.com/tech/services-and-software/ai-is-bad-at-sudoku-its-even-worse-at-showing-its-work/",
      "publisher": {
        "@type": "Organization",
        "name": "CNET"
      }
    },
    {
      "@type": "NewsArticle",
      "name": "Ashutosh Trivedi receives NSF CAREER Award",
      "url": "https://www.colorado.edu/cs/2022/06/23/trivedi-seeks-democratize-artificial-intelligence-through-career-award",
      "publisher": {
        "@type": "Organization",
        "name": "University of Colorado Boulder"
      }
    },
    {
      "@type": "NewsArticle",
      "name": "Royal Society Wolfson Visiting Fellowship 2024",
      "url": "https://royalsociety.org/news/2024/08/wolfson-fellowships-2024/",
      "publisher": {
        "@type": "Organization",
        "name": "The Royal Society"
      }
    }
  ]
}
</script>
</head>
