/* Makeshift CSS Reset */
{
    margin: 0;
    padding: 0;
}



.header{
    font-family: 'Shrikhand', cursive;
    font-size:300%;
    width=400%;
    bold=30px;
}

body {
    margin: 0 auto;
    width: 80%;
    color:#565A5C;
    font-family: 'Open Sans', sans-serif;
    font-size:95%;
}

h2 {
    font-size: 28px;
    line-height: 44px;
  }
 
h3 {
    font-size: 18px;
    line-height: 22px;
}

h3.fancy {
    color: white;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

h3.pancy {
    color: black;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
 
p {
}


#main-head {
    margin-top: 1px;
    padding: 44px;
    background: #f0f0f0 repeat-x;
    background-size: 100%;
    /* border-bottom-left-radius: 2em; */
    /* border-bottom-right-radius: 2em; */
/*    border-radius: 22px;*/
    box-shadow: 3px 3px 7px #777;
}


a {
    color:#667cab;
    text-decoration:none;
}

a:hover
{
    color: #565A5C;
    text-shadow: #667cab 3px 3px 5px;
}

.image-cropper {
    width: 225px;
    height: 225px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

article.intro {
    background-color: #f0f0f0; /* eebe4b;*/
    color: black;
    margin: 20px 0 20px 0;
    padding: 0px;
    background-size: 100%;
    box-shadow: 3px 3px 7px #777;
    border-bottom-left-radius: 2em; 
    border-bottom-right-radius: 2em; 
    height: 100vh;
 }

section.intro{
    background-color: white;
    color:#565A5C;
    margin: 30px 10 30px 20;
    padding: 20px;
    background-size: 100%;
    border-radius: 22px;
    font-family: 'Open Sans', sans-serif;
    font-size:100%;
}

article.about {
    background-color: #444; /* 34495E; #D98880; eebe4b;*/
    color: black;
    margin: 0px 0 20px 0;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-size: 100%;
    border-bottom-left-radius: 2em; 
    border-bottom-right-radius: 2em; 
    box-shadow: 3px 3px 7px #777;
}

section.about {
    background-color: white;
    color:#565A5C;
    margin: 30px 10 30px 20;
    padding: 20px;
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size:100%;
}

article.pubs {
    background-color: #A0A0A0; /*#eebe4b;*/
    color: black;
    margin: 20px 0 20px 0;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-size: 100%;
    border-radius: 22px;
    box-shadow: 3px 3px 7px #777;
}

section.pubs{
    background-color: white;
    color:#565A5C;
    margin: 30px 10 30px 20;
    padding: 20px;
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size:100%;
}

article.news {
    /* background-color:#eebe4b; */
    color: black;
    margin: 20px 0 20px 0;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-size: 100%;
    border-radius: 22px;
    /* box-shadow: 3px 3px 7px #777; */
}

section.news{
    background-color: white;
    color:#565A5C;
    margin: 30px 10 30px 20;
    padding: 20px;
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size:100%;
}

article.res {
    background-color: #444; /* #922B21; */
    color: black;
    margin: 20px 0 20px 0;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-size: 100%;
    border-radius: 22px;
    box-shadow: 3px 3px 7px #777;
}

section.res{
    background-color: white;
    color:#565A5C;
    margin: 30px 10 30px 20;
    padding: 20px;
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size:100%;
}

article.teach {
    background-color: #CA6F1E;
    color: black;
    margin: 20px 0 20px 0;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-size: 100%;
    border-radius: 22px;
    box-shadow: 3px 3px 7px #777;
}

section.teach {
    background-color: white;
    color:#565A5C;
    margin: 30px 10 30px 20;
    padding: 20px;
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size:100%;
}

article.prof {
    background-color: #6C3483;
    color: black;
    margin: 20px 0 20px 0;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-size: 100%;
    border-radius: 22px;
    box-shadow: 3px 3px 7px #777;
}

section.prof {
    background-color: white;
    color:#565A5C;
    margin: 30px 10 30px 20;
    padding: 20px;
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size:100%;
}


.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
    box-shadow: 3px 3px 7px #777;
    }

.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #565A5C; /*#005f5f;*/
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
	width: 120px;
	border-bottom: none;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
    }

    /* Option 1 - Display Inline */
    .nav li {
	display: inline-block;
	margin-right: -4px;
    }



.button1 {
  display:block;
  border-radius: 50%;
  border: 1px solid #565A5C;;
}
.buttonres {
    background-color: #565A5C; /*#922B21; * #4CAF50; */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
/*    border-radius: 22px;*/
}
.buttonintro {
    background-color: #f0f0f0; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.buttonnews {
    background-color: #444; /* #4CAF50; */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.buttonpubs {
    background-color: #A0A0A0; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.buttonteach {
    background-color:#CA6F1E; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonprof {
    background-color:#6C3483; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

